<%= tinymce_assets %>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :menu_label %>
    <%= f.text_field :menu_label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :h1 %>
    <%= f.text_field :h1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'tinymce', rows: 40, cols: 60 %>
    <%= tinymce %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.text_field :priority, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :published_at %>
    <%= f.datetime_field :published_at, class: 'form-control' %>
  </div>

  <%= f.error_messages %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
    <%= link_to "Cancel", posts_path, class: 'btn btn-outline-primary' %>
  </div>

<% end %>