<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Anadea Test Task' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Home page', posts_path %>
    <%= link_to 'New page', new_post_path %>

    <%= yield %>

  </body>
</html>
